html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
  color: #111;
  font-size: 14px;
  line-height: 20px;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-size: 36px;
  line-height: 44px;

  background: linear-gradient(116.36deg, #ba61d0 0%, #111d87 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-size: 18px;
  line-height: 24px;
}

h3.large {
  font-size: 24px;
  line-height: 30px;
}

h4 {
  font-size: 18px;
  line-height: 24px;
}

.weight-900 {
  font-weight: 900 !important;
  letter-spacing: 0.05em !important;
}

.weight-700 {
  font-weight: 700 !important;
  letter-spacing: 0.03em !important;
}

.text-large {
  font-size: 18px;
  line-height: 24px;
}

.text-secondary {
  color: #777;
}

.text-secondary a {
  color: #777;
}

.emphasis-extreme {
  font-size: 72px;
  line-height: 88px;
  font-weight: 900;
  background: linear-gradient(116.36deg, #ba61d0 0%, #111d87 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.center {
  text-align: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

section,
.section-wrap {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 80px 160px;
}

section.no-padding,
.section-wrap.no-padding {
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

.display-block {
  display: block;
}

.hide-overflow {
  overflow: hidden;
}

/* SPACING */

.spacing-x-large {
  margin-bottom: 80px !important;
}

.spacing-large {
  margin-bottom: 40px !important;
}

.spacing-medium {
  margin-bottom: 24px !important;
}

.spacing-small {
  margin-bottom: 16px !important;
}

.spacing-x-small {
  margin-bottom: 8px !important;
}

.spacing-tiny {
  margin-bottom: 4px !important;
}

/* END SPACING */

/* PADDING */

.padding-medium {
  padding: 24px;
}

.vertical-padding-x-large {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.vertical-padding-large {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.padding-top-large {
  padding-top: 40px;
}

.padding-right-large {
  padding-right: 40px;
}

/* ASPECT-RATIOS */

.aspect-16-9 {
  aspect-ratio: 16 / 9;
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-section {
  min-height: 800px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  background: rgba(17, 17, 17, 0.5) url("../images/game-dev-hero.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;

  color: #fff;
}

.hero-content {
  max-width: 560px;
}

.coming-soon {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.05em;
}

.grid-4-by-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  column-gap: 40px;
  row-gap: 24px;
}

.grid-4-by-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 40px;
}

.grid-2-3-asymmetric {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto;
  gap: 40px;
}

.grid-title {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

h2.grid-title,
.grid-title h2 {
  font-size: 2.5vw;
  line-height: 3vw;
}

.classes-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  gap: 40px;
}

.classes-grid .grid-title {
  grid-column: 1 / span 2;
}

.classes-grid .grid-content {
  grid-column-start: span 3;
}

.banner {
  width: 100vw;
  padding: 160px 160px;
  color: #fff;
}

.banner-heading {
  color: #fff;
  font-weight: 900;

  letter-spacing: 0.05em;
  background-clip: initial;
  -webkit-background-clip: initial;
  background: none;
  -webkit-text-fill-color: initial;

  max-width: 800px;
}

.banner-heading.large {
  font-size: 48px;
  line-height: 58px;
  max-width: 960px;
}

aside {
  transform: translateY(-160px);
  /* // background-color: #fff; */

  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  /* // margin-right: -40px */
}

aside:after {
  content: "";
  background-color: #fff;
  position: absolute;
  top: 0;
  left: -100vw;
  right: -40px;
  bottom: 0;
  z-index: -1;
}

.shift-down {
  transform: translateY(80px);
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-bottom-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.dark {
  background-color: #ddd;
}

#starting-banner {
  overflow: hidden;
}

#starting-banner:before {
  content: "";
  position: absolute;
  top: -20px;
  bottom: -20px;
  left: -40px;
  right: -40px;
  background: rgba(17, 17, 17, 0.5) url("../images/starting-banner.png");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  z-index: -1;
}

#mission-banner {
  background: rgba(17, 17, 17, 0.5) url("../images/Mission-Banner.png");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

.company-logo-list {
  display: grid;
  grid-template-columns: fit-content(10%) fit-content(10%) fit-content(10%) fit-content(
      10%
    );
  grid-template-rows: 1fr 1fr;
  column-gap: 16px;
  row-gap: 8px;
}

.company-logo-list img {
  height: 24px;
}

input.email {
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding: 7px;

  border: 1px solid #fff;
  border-radius: 4px;
  background: none;
  color: #fff;

  height: 100%;
}

input.email::placeholder {
  color: #e2e2e2;
}

button {
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 24px;

  background: linear-gradient(116.36deg, #ba61d0 0%, #111d87 100%);
  color: #fff;

  border: none;
  border-radius: 4px;

  margin: 0px 8px;
}

.email-form {
  display: flex;
  flex-direction: row;
}

.email-list-column .email-form {
  flex-direction: column;
  align-items: flex-start;
}

.email-list-column .email-form button {
  margin: 4px 0px;
}

#error,
#success {
  height: 36px;
  padding: 8px 0px;
}
